


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem= 10px  10px/16px=62,5%*/
  font-family: "Open Sans", sans-sarif;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: rgb(14, 13, 13,0.75);
  font-size: 2.2rem;
}


a.btn {
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(60, 48, 88);
  color: #fff;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
  }

.work-area,
.contact {
  background-color: #ddd;
}

.content-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

section h3.header-text {
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
  font-size: 4.5rem;
}

section p {
  max-width: 700px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.3rem;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
  section h3.header-text {
      font-size: 3rem;
  }
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: 35px 100px 0;
  padding: 35px 100px 0;
  animation: 1s animate 0.5s forwards;
  opacity: 0;
  z-index: 10;
}

@keyframes animate {
  100% {
    opacity: 1;
  }
}
.logo{
  height: 5.25rem;
  width: 5.25rem;
  margin-left: 50p;
}

header nav {
  display: flex;
  margin-right: -35px;
  justify-content: center;
  align-items: center;

}

header nav li{  
  margin: 0 15px;
  font-size: 2rem;
  font-weight: 400;
}

header a.active, header a:hover {
    color: #fff;
    /* background-color: rgb(60, 48, 88); */
    border-bottom: 2px solid rgb(60, 48, 88);
}

.nav_icon{
  width: 1.75rem; 
  height: 1.75rem;
  fill: currentColor;
}

@media (max-width: 800px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }
  .logo {
    margin-bottom:30px;
    margin-left: 0px;
  }
  header nav li {
    margin: 0 7px;
  }
}

.banner-area {
  position: relative;
  justify-content: center;
  text-align: center; 
  min-height: 100vh;
  color: #fff;
}

.banner-area .img-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-image: linear-gradient(to right bottom, rgba(249, 236, 235, 0.801), rgba(60, 48, 88, 0.808)),
  url(../images/image2.jpg);
  background-position: center center;
}

.banner-area h1 {
  margin-bottom: 15px;
  font-size: 4rem;
  padding-bottom: 60px;
}


.banner-text {
  opacity: 0;
  margin-top: 100px;
  animation: 1s anime-two 1s forwards;
}

@keyframes anime-two {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.heading-primary-main,.heading-primary-sub{
    display: block;
    font-weight: 400;
}


.banner-area a.btn {
  padding: 20px 45px;
}

@media (max-width: 800px) {
  .banner-area {
    min-height: 600px;
  }
  .banner-area h1 {
    font-size: 28px;
  }
  .banner-area h3 {
    font-size: 24px;
  }
   .banner-area a.btn{
       padding: :15px 40px;
   }
}


.services-area .content-area .single-service{
    height:300px;
    padding: 20px;
    flex-basis: 30%;
    text-align: center;
    }

.single-service h2{
    margin-bottom: 15px;
}

.icon-area{
    width:80px;
    height:80px;
    display: inline-block;
    background-color: #262626;
    border-radius:50%;
    margin-bottom: 20px;
}

.service_icon{
    fill: #fff;
    height: 7rem;
    width: 4rem;
    
}

@media (max-width:1000px){
    .services-area .content-area .single-service{
        flex-basis: 30%;
    }
}

@media (max-width:800px){
    .services-area .content-area .single-service{
        flex-basis: 100%;
    }
    .single-service{
        margin-bottom: :30px;
    }
}

.work-area .content-area li{
    padding: 5px;
    flex-basis: 50%;
    text-align: center;
}

.work-area img{
    width: 100%;
}

@media(max-width:800px){
    .work-area .content-area li{
        flex-basis: 100%;
        padding: 20px;
    }
}

.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.newsletter form .btn{
    padding: 2rem 4rem;

}

.newsletter form input{
    font-family: inherit;
    padding: 15px;
    margin-right: 30px;
    font-size:18px;
    background-color:#ddd;
    border: 1px solid #262626;
    flex: 1;
    border-radius: 30px;
}

@media (max-width:700px){
    .newsletter form {
        flex-wrap: wrap;
    }
    .newsletter form input{
        flex-basis:100px;
        margin:0 0 20px 0;
    }
}
    
.contact .content-area .single-contact{
    height: 300px;
    padding: 20px;
    /* flex-basis: 50%; */
    text-align: center;

}
.contact_icon{
  width: 1.75rem; 
  height: 1.75rem;
  fill:rgb(14, 13, 13,0.75);

}
.single-contact input{
    font-family: inherit;
    width:100%;
    height:50px;
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #262626;
    border-radius: 30px;
}

.single-contact input[type=submit]{
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(60, 48, 88);
    border: 1px solid #262626;
    color: #fff;
    opacity: 1;
}

@media (max-width:800px){
    .contact .content-area .single-contact{
        flex:100%;
        margin-bottom: 20px;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.legal{
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity: 0.6;
}
