.central-div-welcome-content p,
.central-div-grid-box p,
.central-div-port-text,
.central-div-box p,
.central-div-web-tools-text,
.central-div-flex-columns p {
  color: #616971!important;
}

.central-div-img {
  max-width: 100%;
}
.central-div-img:hover {
  border-radius: 10px;
  transform: scale(1.1);
  cursor: pointer;
}

.central-div-btn {
  background:  #68a0d2;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
}
.central-div-btn:hover {
  background-color: #4981b3!important;
  border: .2rem solid #4981b3!important;
  border-radius: 6px;
}

.central-hr-welcome {
  width: 30%;
  background-color:  #68a0d2;
  border: 1px  #68a0d2 solid;
}
.central-hr-welcome:hover {
  transform: scale(1.5);
}

/* welcome text */
.central-div-welcome-content {
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
}
.central-div-welcome-content h1 {
  font-size: 2.5rem;
}
.central-div-welcome-content p {
  font-size: 1.5rem;
}

/* grid-boxes */
.central-div-grid-boxes {
  margin: 2rem .5rem;
  padding: 2rem 2rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.central-div-grid-box {
  box-shadow: var(--shadow);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: .1rem solid #4981b3;
  border-radius: 5px;
}
.central-div-grid-box .central-div-img {
  box-shadow: var(--shadow);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  width: 350px;
  height: 200px;
}
.central-div-grid-box p{
  margin-bottom: 1.5rem;
}

/* border */
.central-hr-horizonal {
  padding: .2px 0;
  width: 80%;
  border: 1px;
  background-color: #616971!important;
  border-style: solid;
}

/* portfolio */
.central-div-port {
  text-align: center;
  margin: 1rem 0;
  padding: 2rem 0 0 ;
}
.central-div-port-head {
  text-transform: uppercase;
  font-size: 2rem;
}
.central-div-port-text {
  font-size: 1.1rem;
}

/* Boxes */
.central-div-boxes {
  margin: 1rem .5rem 2.5rem .5rem;
  padding: 1rem 2rem 2.5rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.central-div-box {
  box-shadow: var(--shadow);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  background-color:rgb(247, 242, 242);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: .1rem solid #4981b3;
  /* height: 400px; */
}
.central-div-box h3{
  color: black;
  padding: .5rem 0;
}

/* web-tools */
.central-div-web-tools {
  margin: 2rem 0;
  padding: 2rem 0 0 0;
  text-align: center;
}
.central-div-web-tools-head{
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 1.2rem;
}
.central-div-web-tools-text {
  font-size: 1.1rem;
}

/* designing and development tools */
.central-div-columns-container {
  display: grid;
  width: 100%;
  margin-bottom: 2rem;
  padding: .5rem 0 2rem 0;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.central-div-flex-columns {
  /* box-shadow: var(--home-central-shadow); */
  box-shadow: .5rem .5rem rgba(0, 0, 0, .2);
  align-items: center;
  text-align: center;
  margin: 4px;
  box-shadow: .1rem solid #4981B3;
  border-radius: 15px;
  transition: transform 0.2s ease-in;
}
.central-div-flex-columns:hover {
  transform: translateY(-15px);
}

/* @media queries 768 & 500 */

@media (max-width: 768px) {
  .central-div-welcome-content h1, 
  .central-div-port-head {
    font-size: 1.5rem;
  }
  .central-div-grid-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .central-div-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .central-div-grid-boxes .central-div-btn {
    width: 90%;
    padding: 0.6rem 0.6rem;
  }
  .central-div-columns-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  } 
}

@media (max-width: 500px) {
  .central-div-welcome-content h1, 
  .central-div-port-head {
    font-size: 1.2rem;
  }
  .central-div-grid-boxes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .central-div-boxes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .central-div-btn {
    display: block;
  }
  .central-div-columns-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
