@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");

.rest_header {
  display: grid;
  grid-template-rows: 5rem repeat(3, minmax(min-content, 1fr));
  grid-template-columns: 1fr repeat(8, minmax(min-content, 1fr)) 1fr;
  justify-items: center;
  grid-row-gap: 1.5rem;
  background-image: url(../Components/Demo/Restaurant/imgs/rest-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}

.rest_header-title {
  grid-row: 2/-1;
  grid-column: 4/8;
  align-self: center;
  display: grid;
  grid-row: repeat(6, minmax(min-content, max-content));
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 3rem;
  color: white;
}
.rest_header-title h3 {
  grid-row: 1/2;
  grid-column: 1/-1;
  font-family: "Montez", cursive;
  font-size: 4rem;
  color: #fcda9a;
  font-weight: lighter;
  margin: 0;
}

.rest_header-title h1 {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-family: "Suranna", serif;
  text-transform: uppercase;
  font-size: 4rem;
}

.rest_header-line {
  grid-row: 3/4;
  grid-column: 1/-1;
  display: grid;
  font-size: 1.6rem;
  color: #fcda9a;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  padding-bottom: 3rem;
}

.rest_header-line::after,
.rest_header-line::before {
  background-color: currentColor;
  content: "";
  display: block;
  height: 1px;
}

.rest_header-openhours {
  grid-row: 4/5;
  grid-column: 1/-1;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.rest_header-timetable {
  grid-row: 5/7;
  grid-column: 1/3;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  grid-column-gap: 2rem;
}

.rest_header-days {
  grid-row: 1/2;
  grid-column: 1/2;
}
.rest_header-weekends {
  grid-row: 2/3;
  grid-column: 1/2;
}

.rest_header-divimg1 {
  grid-column: 1/3;
  grid-row: 2/-1;
  background-image: url(../Components/Demo/Restaurant/imgs/rest-header1.png);
  background-size: cover;
  background-position: center;
  z-index: 1000;
}
