.third_menu_home_section{
    /* background-image: url('https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8cmVzdGF1cmFudHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); */
    width: 100%;
    background-size: cover;
    height: 100vh;
    margin-bottom: 10%;
    background-color: coral;
    position: relative;
}
.third_menu_home_section {
    display: flex;
    flex: 2/4;
    flex-wrap: wrap;
    justify-content: space-around;

}
.third_menu_home_section img {
    padding: 2px;
     margin: 2px;
     justify-content: space-between;
     width: 50%;
    
}