@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.restaurant_home_center {
     background-image: url('../img/restaurantBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-top: 22px;
    /* opacity:0.9; */
    position: initial;
    width: auto;
    
    /* background-color: rgb(0,0, 0, 0.4); */

}

.restaurant_home_center > h1 {
    text-align: center;
    color: rgb(255, 230, 0);
    justify-content: center;
    font-size: 50px;
    letter-spacing: 5px;
    padding-top: 10%;
    font-style:italic;
    font-family: 'Alfa Slab One', cursive;
    /* background-color: rgb(0,0, 0, 0  .4); */
    /* height: 40%; */
}

.restaurant_home_center p {
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-top: 22px;
    /* opacity:0.9; */
    position: initial;
    font-family:'Alfa Slab One';
    padding-top: 10%;
    font-size: 24px;
    width: auto;
    background-color: rgb(0,0, 0, 0.4);

}

.restaurant_home_center .button_center button {
    position: absolute;
    right: 0;
    left: 43%;
    /* height: 32px; */
    padding: 24px;
    top: 30%;
    font-size: 31px;
    background: rgb(255, 230, 0);
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
    border: none;
}
.restaurant_home_center .button_center button:hover {
    background: rgb(128, 233, 58);
}

/* risponsive for mobile display */
@media screen and (max-device-width:700px), screen and (max-width:700px) {
    .restaurant_home_center p {
        /* font-size: auto; */
        /* background-color:     rgb(0,0, 0, 0.4); */
        color: rgb(255, 255, 255);
        font-size: 13px;
        padding: 10px;
        padding-top: 11px;
    }
    .restaurant_home_center h1 {
        /* font-size: auto; */
        /* background-color:     rgb(0,0, 0, 0.4); */
        color: rgb(255, 255, 255);
        font-size: 13px;

    }

}