@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.rest_menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  grid-gap: 2rem;
  z-index: 10;
  position: relative;
}

.rest_menu-link:link,
.rest_menu-link:visited {
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: block;
  padding: 1.5rem;
  transition: all 0.2s;
}

.rest_menu-link:hover,
.rest_menu-link:active {
  color: #fcda9a;
  transform: translateY(-3px);
}
