
li {
  color: white;
}

ul {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.App {
  text-align: center;
  background-color: rgb(224, 225, 226);
}

.a-small-menu {
  margin-right: 15px;
}

.div-diff-menus {
  position: sticky;
  top: 0;
  width: 100%;
}

.div-menu-line {
  background: white;
  width: 45px;
  height: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 25px;
}

.div-small-menu {
  background: rgb(65, 61, 61);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}

.nav-gen-menu {
display: flex;
justify-content: center;
min-height: 10vh;
background: rgb(65, 61, 61);
color: white;
}

.nav-links {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.nav-links li {
  padding: 0 2% 0 2%;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(rgb(211, 199, 199), rgb(211, 199, 199));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.nav-links li a:hover {
cursor: pointer;
background-size: 100% 2px;
}

/* RESPONSIVENESS*/
/* Mobile phones */
@media screen and (max-width: 450px) {
	.nav-gen-menu{
    display: none;
  }

  .div-small-menu {
    display: flex;
  }
}

/* RESPONSIVENESS*/
/* TABLETS */
@media screen and (min-width: 451px) and (max-width: 900px) {
	.nav-gen-menu{
    display: none;
  }

  .div-small-menu {
    display: flex;
  }
}

/* RESPONSIVENESS*/
/* LARGER SCREENS */
@media screen and (min-width: 901px) {
  .nav-gen-menu{
    display: flex;
  }
}

        /* FOOTER second V*/
        .footer{
          width: 100vmax;
          display: block;
          overflow: hidden;
          padding: 50px 0;
          box-sizing: border-box;
          background-color: #5d5d66;
          }

      .footer .inner_footer{
          display: block;
          margin: 0 auto;
          width: 1100px;
          height: 100%; 
      }

      .inner_footer .logo_container{
          width: 25%;
          float: left;
          height: 100%;
          display: block;
      }
      .inner_footer .logo_container img{
          width: 100px;
          height: auto; 
      }
      .inner_footer .footer_third{
          width: calc(24% - 1px);
          margin-right: 10px;
          float: left;
          height: 100%;
      }


      .inner_footer .footer_third h1{
          font-family: "arial";
          font-size: 22px;    
          color: white;
          display: block;
          width: 100%;
          margin-bottom: 20px;
      }

      .inner_footer .footer_third a{
          font-family: "arial";
          font-size: 20px; 
          font-weight: 200;   
          color: white;
          display: block;
          width: 100%;
          padding-bottom: 5px;
      }
      .footer .inner_footer .footer_third h1 span{
          color: #05f7ff;
      }
      .footer .inner_footer h1,p, .contact,
      .socials a,
      .footer .inner_footer h2{
          color: white;
      }
      .footer .inner_footer .logo_container .socials a{
          border: 1px solid gray;
          width: 45px;
          height: 41px;
          
          padding-top: 5px;   
          margin-right: 10px ;
          text-align: center;
          display: inline-block;
          font-size: 1.3em;
          border-radius: 5px;
          transition: all .3s;
      }
      .footer .inner_footer .logo_container .socials a:hover,
      .inner_footer .logo_container a:hover{
          border: 1px solid white;
          color: white;
          transition: all .3s;
      }
      .footer .inner_footer .footer_third ul a{
          display: block;
          margin-bottom: 5px;
          margin-left: 15px;
          font-size: 1 em;
          transition: all .3s;
      }
      .footer .inner_footer .footer_third ul a:hover,
      .contact span:hover{
          color: white;
          margin-left: 25px;
          transition: all .3s;
      }
      .footer .inner_footer .footer_third .contact-input{
          background-color: #272727;
          color: #bebdbd;
          margin-bottom: 10px;  
          padding: .5rem 1.2rem;
          /* border: none; */
      }
      .footer .inner_footer .footer_third .text-input{
          background-color: #272727;
          color: white;
          padding: .9rem 1.5rem;
          /* border: none; */
      }
      .footer .inner_footer .footer_third .contact-btn{
          padding: .5rem 1rem;
      } 

      .footer .footer-bottom{
          background-color: #343a40;
          color: #686868;
          text-align:center;
          overflow: hidden;
          width: 100vmax;
          padding: 50px 0;
           
      }
      @media(max-width: 800px){
          .footer{
              width: 100%;
          }
          .footer .inner_footer, 
          footer .inner_footer .footer_third ul a li{
              width: 90%;
              font-size: 150%;
          }
          .inner_footer .logo_container,
          .inner_footer .footer_third,
          .foter .footer-bottom{
              width: 90%;
              margin-bottom: 30px;
              font-size: 100%;
              /* text-align: center; */
          }
          .footer .inner_footer .footer_third .contact_form{
          margin: 0 auto;
          width: 55%;
          } 
           .footer-bottom{
              font-size: 1rem;
              width: 10vmax;
              /* text-align:center; */
          }
      }

