
:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
* {
box-sizing: border-box;
}
/*-- Body Reset --*/
body {
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

hr {
  width: 30%;
  background-color: #68a0d2;
  border: 1px #68a0d2 solid;
}

/*
hr:hover {
  transform: scale(1.5);
}
*/

 
li {
  color: white;
}

p {
  color: #616971;
}

ul {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

/* RESPONSIVENESS*/
/* Mobile phones */
@media screen and (max-width: 450px) {
	.nav-gen-menu{
    display: none;
  }

}


